<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DIGIWORM</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEX5R7fxuViz4bEDJo5TH9%2B%2Fa2p368iLZUwE1NpJnCV0hoD6FHdTvHJ7xmy8hsstrys%2FSlZG61B%2FDRZaDdHFnUFF7WCcuxEWNxdvxl22cJ5piKAEWT6vRibpbkG1PEjU13q%2BQGH8z3fEcRYub8c4yQ7i%2Fgv73atCdoDpK7zfJU5kDSdQibB60YpPjB2coXBFcVbEqNbd20O8Qx4rEtyG8zvx5SFch8hIcwd6p7FWYoHVulAGmplyxoKuEKoIKjbMWfVsCIumpMhrCFOMJEEmhNsRpIejDwWXtXkl%2FFhwIokQPK8pspB6QZ6XLBYALnFtaYjyOKTjGo2tFje5bQvT0zC20g7OopNJhMuQ%2BZLPtXyVSm3QXH4cMUHEOEgbNasbyqFFvlCrLyb0rEKhTutCC6z%2BYmQNqh6gbtohp3nBzTCYEelUlAYanoWrkP8ZC9%2FiBC1GYF%2BKJlg7JerKLSDwhfB4sGsP7bByf6hscfOL5Sn%2FjOfAKE%2BazAOCWvH3UbuK88WT4B0tqBKysKAk3kPSA7cz89B5aNuQEYimtlFvjOsQJZrZlbgri7s%2BAb%2BS&sz=w512" alt="Logo" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    
    <!-- Navbar Start -->
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
            <a href="Publicaciones.html" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-primary"><span class="text-dark">DIGI</span> WORM</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                    <a href="DIGIWORM_04\src\app\publicaciones\publicaciones.component.html" class="nav-item nav-link active">Publicaciones</a>
                    <a href="Docentes.html" class="nav-item nav-link">Docentes</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Paginas</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="appointment.html" class="dropdown-item">Información</a>
                            <a href="opening.html" class="dropdown-item">Notas</a>
                            <a href="team.html" class="dropdown-item">Boletines</a>
                            <a href="DIGIWORM_04\src\app\chat" class="dropdown-item">Chats</a>
                        </div>
                    </div>
                    <a href="DIGIWORM_04\src\app\index" class="nav-item nav-link">Información</a>
                </div>
               
            </div>
        </nav>
    </div>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 pb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
           
            <div class="carousel-inner">
                <div class="carousel-item position-relative active" style="min-height: 100vh;">
                    <img class="position-absolute w-100 h-97" src="https://th.bing.com/th/id/R.1c0f0df65199ebb6fa6c3e5957e70601?rik=NwwZg25ry0WATA&riu=http%3a%2f%2fphotocdn.sohu.com%2f20150829%2fmp29821117_1440832079387_1_th.jpeg&ehk=%2big1OkKnK7iwc9T3WZKH5qK0ZaDETLByXgGRALwsdxY%3d&risl=&pid=ImgRaw&r=0" style="object-fit: cover;">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h6 class="text-white text-uppercase mb-3 animate__animated animate__fadeInDown" style="letter-spacing: 3px;">DIGIWORM</h6>
                            <h3 class="display-3 text-capitalize text-white mb-3">Formando pequeñas mentes</h3>
                            <p class="mx-md-5 px-5">Las escuelas deberían de ser lugares para aprender, no para enseñar.</p>
                           
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   

    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6 pb-5 pb-lg-0">
                    <img class="img-fluid w-100" src="https://149606532.v2.pressablecdn.com/wp-content/uploads/2017/12/High-School-Senior-Scholarships4-300x196.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">Comentanos</h6>
                    <h1 class="mb-4">Impulsa a crecer a tu hijo en educación</h1>
                    <p class="pl-4 border-left border-primary">Las cosas que se enseñan en las escuelas y facultades no son educación, sino los medios de la educación.</p>
                    <div class="row pt-3">
                        <div class="col-6">
                            <div class="bg-light text-center p-4">
                                <h3 class="display-4 text-primary" data-toggle="counter-up">300</h3>
                                <h6 class="text-uppercase">Visitas</h6>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-light text-center p-4">
                                <h3 class="display-4 text-primary" data-toggle="counter-up">999</h3>
                                <h6 class="text-uppercase">Usuarios</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-fluid px-0 py-5 my-5">
        <div class="row mx-0 justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Nuestros servicios</h6>
                <h1>Enterate </h1>
            </div>
        </div>
        <div class="owl-carousel service-carousel">
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://th.bing.com/th/id/OIP.d5HQnYuvMZMg7dQKRkQVvQHaEJ?w=926&h=519&rs=1&pid=ImgDetMain" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Informes</h4>
                    <p class="text-white px-3 mb-3">Nunca he dejado que mi escolaridad interfiera con mi educación</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">Mas</a>
                    </div>
                </div>
            </div>
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://th.bing.com/th/id/OIP.B4LkSAFJbE0rJgBFzk86SQHaFW?rs=1&pid=ImgDetMain" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Actividades Culturales</h4>
                    <p class="text-white px-3 mb-3">No puedes aprender en la escuela qué es lo que pasará con el mundo el siguiente año</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">Insistir</a>
                    </div>
                </div>
            </div>
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://th.bing.com/th/id/OIP.M_rjUoiYkgdFKoRSgM0QHgHaFW?rs=1&pid=ImgDetMain" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Eventos</h4>
                    <p class="text-white px-3 mb-3">No puedes aprender en la escuela qué es lo que pasará con el mundo el siguiente año</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">Persistir</a>
                    </div>
                </div>
            </div>
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://th.bing.com/th/id/OIP.9pzMjbQqAlSTlPfZ1nxTjAHaFW?rs=1&pid=ImgDetMain" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Biblioteca</h4>
                    <p class="text-white px-3 mb-3">La escuela es el camino, no el destino.</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">Y</a>
                    </div>
                </div>
            </div>
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://th.bing.com/th/id/OIP.BP8-RsYUCtzGXQ0LrR_GJQHaFW?rs=1&pid=ImgDetMain" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Estudia</h4>
                    <p class="text-white px-3 mb-3">En la escuela, te dan una clase y luego te hacen una prueba. En la vida, te dan un prueba que te enseña una lección.</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">NUNCA</a>
                    </div>
                </div>
            </div>
            <div class="service-item position-relative">
                <img class="img-fluid" src="https://thumbs.dreamstime.com/z/adolescentes-en-la-escuela-120365722.jpg" alt="">
                <div class="service-text text-center">
                    <h4 class="text-white font-weight-medium px-3">Facetas</h4>
                    <p class="text-white px-3 mb-3">Mientras los profesores realicen exámenes, siempre existirá la oración en las escuelas</p>
                    <div class="w-100 bg-white text-center p-4" >
                        <a class="btn btn-primary" href="">Desistir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center bg-appointment mx-0">
            <div class="col-lg-6 py-5">
                <div class="p-5 my-5" style="background: rgba(70, 230, 241, 0.7);">
                    <h1 class="text-white text-center mb-4">Tus Aportes</h1>
                    <form>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control bg-transparent p-4" placeholder="Your Name" required="required" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="email" class="form-control bg-transparent p-4" placeholder="Your Email" required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent p-4 datetimepicker-input" placeholder="Select Date" data-target="#date" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text" class="form-control bg-transparent p-4 datetimepicker-input" placeholder="Select Time" data-target="#time" data-toggle="datetimepicker"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="custom-select bg-transparent px-4" style="height: 47px;">
                                        <option selected>Select A Service</option>
                                        <option value="1">Service 1</option>
                                        <option value="2">Service 1</option>
                                        <option value="3">Service 1</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">Make Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Open Hours Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="https://tabippo.net/wp-content/uploads/20161214222203/shutterstock_524900608.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                        <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Inicia</h6>
                        <h1 class="mb-4">Pertenece a nuestra comunidad
                        </h1>
                        <p>Estigmatizamos los errores en nuestras escuelas, y el resultado es que estamos educando a las personas fuera de sus capacidades creativas.</p>
                        <ul class="list-inline">
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Mon – Fri : 9:00 AM - 7:00 PM</li>
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Saturday : 9:00 AM - 6:00 PM</li>
                            <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Sunday : Closed</li>
                        </ul>
                        <a href="" class="btn btn-primary mt-2">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Open Hours End -->


    <!-- Pricing Start -->
    <div class="container-fluid bg-pricing" style="margin: 90px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="https://th.bing.com/th/id/R.3b75278bba91a0dc3b856001747802c0?rik=hnI6to6cESNYPg&riu=http%3a%2f%2fst.depositphotos.com%2f1199142%2f3918%2fi%2f950%2fdepositphotos_39186709-stock-photo-young-happy-students.jpg&ehk=GNiAJhyge87gphMT8wtDtuY1I35PEZwvErOmYEOOW%2b0%3d&risl=&pid=ImgRaw&r=0" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-7 pt-5 pb-lg-5">
                    <div class="pricing-text bg-light p-4 p-lg-5 my-lg-5">
                        <div class="owl-carousel pricing-carousel">
                            <div class="bg-white">
                                <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                    <h1 class="display-4 mb-0">
                                        <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;"></small>Por Ti<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;"></small>
                                    </h1>
                                    
                                </div>
                                <div class="p-4">
                                    <p><i class="fa fa-check text-success mr-2"></i>Full Body Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Deep Tissue Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Hot Stone Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Tissue Body Polish</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Foot & Nail Care</p>
                                    <a href="" class="btn btn-primary my-2">Confia</a>
                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                    <h1 class="display-4 mb-0">
                                        <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;"></small>Para Ti<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;"></small>
                                    </h1>
                                    
                                </div>
                                <div class="p-4">
                                    <p><i class="fa fa-check text-success mr-2"></i>Full Body Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Deep Tissue Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Hot Stone Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Tissue Body Polish</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Foot & Nail Care</p>
                                    <a href="" class="btn btn-primary my-2">Confia</a>
                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                    <h1 class="display-4 mb-0">
                                        <small class="align-top text-muted font-weight-medium" style="font-size: 22px; line-height: 45px;"></small>En Ti<small class="align-bottom text-muted font-weight-medium" style="font-size: 16px; line-height: 40px;"></small>
                                    </h1>
                                   
                                </div>
                                <div class="p-4">
                                    <p><i class="fa fa-check text-success mr-2"></i>Full Body Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Deep Tissue Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Hot Stone Massage</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Tissue Body Polish</p>
                                    <p><i class="fa fa-check text-success mr-2"></i>Foot & Nail Care</p>
                                    <a href="" class="btn btn-primary my-2">Confia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pricing End -->


    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Genial</h6>
                    <h1 class="mb-5">Especialidades</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team position-relative overflow-hidden mb-5">
                        <img class="img-fluid" src="https://c0.klipartz.com/pngpicture/675/442/gratis-png-idea-de-negocio-de-empresario-estrechar-la-mano-thumbnail.png" alt="">
                        <div class="position-relative text-center">
                            <div class="team-text bg-primary text-white">
                                <h5 class="text-white text-uppercase">Johan Santiago</h5>
                                <p class="m-0">Integrante</p>
                            </div>
                            <div class="team-social bg-dark text-center">
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team position-relative overflow-hidden mb-5">
                        <img class="img-fluid" src="https://c0.klipartz.com/pngpicture/675/442/gratis-png-idea-de-negocio-de-empresario-estrechar-la-mano-thumbnail.png" alt="">
                        <div class="position-relative text-center">
                            <div class="team-text bg-primary text-white">
                                <h5 class="text-white text-uppercase">Johan Stiven</h5>
                                <p class="m-0">Integrante</p>
                            </div>
                            <div class="team-social bg-dark text-center">
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team position-relative overflow-hidden mb-5">
                        <img class="img-fluid" src="https://i0.pngocean.com/files/315/12/870/businessperson-company-leadership-business-administration-executive-woman.jpg" alt="">
                        <div class="position-relative text-center">
                            <div class="team-text bg-primary text-white">
                                <h5 class="text-white text-uppercase">Magdy Velazco</h5>
                                <p class="m-0">Lider</p>
                            </div>
                            <div class="team-social bg-dark text-center">
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team position-relative overflow-hidden mb-5">
                        <img class="img-fluid" src="https://c0.klipartz.com/pngpicture/675/442/gratis-png-idea-de-negocio-de-empresario-estrechar-la-mano-thumbnail.png" alt="">
                        <div class="position-relative text-center">
                            <div class="team-text bg-primary text-white">
                                <h5 class="text-white text-uppercase">Juan David</h5>
                                <p class="m-0">Integrante</p>
                            </div>
                            <div class="team-social bg-dark text-center">
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6 pb-5 pb-lg-0">
                    <img class="img-fluid w-100" src="https://www.psicologos.com.co/site/articles/f7/df/348418/50633/shutterstock-429498787.jpg" alt="">
                </div>
                <div class="col-lg-6">
                    <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">Testimonios</h6>
                    <h1 class="mb-4">Satisfaccion</h1>
                    <div class="owl-carousel testimonial-carousel">
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/OIP.4hKEfuR0MgutxgsYBz0QbQHaHa?rs=1&pid=ImgDetMain" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Coordinador</h6>
                                    <span>Profession</span>
                                </div>
                            </div>
                            <p class="m-0"> La educación es lo que queda después de que uno olvida lo que ha aprendido en la escuela</p>
                        </div>
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/OIP.4hKEfuR0MgutxgsYBz0QbQHaHa?rs=1&pid=ImgDetMain" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Padre de Familia</h6>
                                    <span>Profession</span>
                                </div>
                            </div>
                            <p class="m-0">El día más importante de la educación de una persona es el primer día de escuela, no el día de su graduación.</p>
                        </div>
                        <div class="position-relative">
                            <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                            <div class="d-flex align-items-center mb-3">
                                <img class="img-fluid rounded-circle" src="https://th.bing.com/th/id/OIP.4hKEfuR0MgutxgsYBz0QbQHaHa?rs=1&pid=ImgDetMain" style="width: 60px; height: 60px;" alt="">
                                <div class="ml-3">
                                    <h6 class="text-uppercase">Estudiante</h6>
                                    <span>Profession</span>
                                </div>
                            </div>
                            <p class="m-0">Es imposible educar niños al por mayor; la escuela no puede ser el sustituto para la educación individual.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <div class="footer container-fluid position-relative bg-dark py-5" style="margin-top: 90px;">
        <div class="container pt-5">
            
    </div>
    <div class="container-fluid bg-dark text-light border-top py-4" style="border-color: rgba(256, 256, 256, .15) !important;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
                    <p class="m-0 text-white">&copy; <a href="https://redacademica.edu.co/terminos-y-condiciones">Terminos</a>. Y Condiciones</p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <p class="m-0 text-white">Politicas de  <a href="https://www.educacionbogota.edu.co/portal_institucional/transparencia-politicas-lineamientos-manuales-sectoriales-institucionales">Privacidad</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
