body{
background: radial-gradient(circle, rgba(23,23,23,1) 0%, rgba(70,70,70,1) 0%, rgba(23,23,23,1) 100%);
align-items: center;
}

header {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,119,121,1) 50%, rgba(0,255,74,1) 100%);
    padding: 2px;
    display: flex;
    text-align: right;
    align-content: center;
    padding-left: 100px;
    border-radius: 15px;
  }
 
  .fa-solid {
    filter: drop-shadow(0 0 0.45rem rgb(0, 179, 255));
  }
  

  ul, ol {
    list-style:none;
}

.nav > li {
    float:right;
}

.nav li a {
    background-color:#00000000;
    color:#fff;
    text-decoration:none;
    padding:10px 15px;
    
    transition: 0,30s;
}

.nav li a:hover {
    background-color:#434343;
    border-radius:30px ;
    
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
    transform: scaleX(100px);
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:10px;
}

.menu{
    text-align: bottom;
    padding-right: 300px;
    padding-top: 18px;
}
.menu a {
    display: block;
    position: relative;
    overflow: hidden;
  }

  .menu a span:first-child {
    display: inline-block;
    padding: 10px;
  }
  .menu :hover{
    transition: 2s;
  }

  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  .menu a span {
    transition: transform 0.2s ease-out;
  }
  .menu a:hover span:first-child {
    transform: translateY(100%);
  }
  .menu a:hover span:last-child {
    transform: none;
  }
  .menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }
  .menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
  }
  

.container{
    
    text-align: center;
    display: block;
    border-color: rgba(240, 248, 255, 0);
    border-style: solid;
    width: 300px;
    border-radius: 30px;
    animation: pulse 2s infinite;
    box-shadow:
    inset 0 -3em 3em rgba(233, 217, 217, 0.1),
          0 0  0 2px rgba(255, 255, 255, 0),
          0.3em 0.5em 2em rgba(1, 183, 255, 0.3);
    
}
.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide en tres columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre los contenedores */
  padding: 20px; /* Ajusta el padding de acuerdo a tus necesidades */
  box-sizing: border-box;
}

.texto{
  color: #fff;
}

.barra_title{
  align-items: center;
  margin-left: 185px;
}
.act-entrega{
  border-style: solid;
  border-color: aqua;
}
.act_desc{
  color: #fff;
  border-style: solid;
  border-color: rgba(0, 255, 255, 0.274);
  border-radius: 30px;
 
  
}
button{ 
  border-radius: 7px;
  border-color: #fff;
  text-decoration: none;
  color: #fff;
  background-color: #ffffff00;
 align-items:end;
 margin: 10px;
}
option{
    border-radius: 30px;
    background:rgb(54, 57, 58);
    border-style: solid;
    border-color: aqua;

}
h2 {
    text-align: center;
}
label{
    color: rgb(5, 128, 235);
}
 input{
    border-radius:30px ;
    background-color: transparent;
    color: aliceblue;
    filter: drop-shadow(0 0 0.45rem rgba(0, 162, 255, 0.507));
 }

 
 select{
    background-color: transparent;
    border-radius: 30px;
 }
 input:hover{
    color: rgb(0, 247, 255);
    
    filter: drop-shadow(0 0 0.45rem rgba(0, 255, 76, 0.329));
         
          
 }
 .fa-solid:hover {
 
  filter: drop-shadow(0 0 0.45rem rgb(0, 255, 76));
    
 }