
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            width: 300px;
            padding: 20px;
            border: 1px solid #18cb3d;
            border-radius: 5px;
            background-image: url("img/colegio.jpg");
        }

        input[type="text"],
        input[type="password"],
        input[type="file"] {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #529af8;
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        input[type="submit"]:hover {
            background-color: #2036ff;
        }

        .img-container {
            text-align: center;
            margin-bottom: 10px;
            position: relative;
        }

        .img-container img {
            width: 150px; /* Cambiado a 150px */
            height: 150px; /* Cambiado a 150px */
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }

        .img-container img:hover {
            opacity: 1;
        }

        .img-container .camera-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px; /* Cambiado a 50px */
            cursor: pointer;
            display: none;
            opacity: 0.7;
            transition: all 0.3s ease;
        }

        .img-container img:hover + .camera-icon {
            display: block;
            transform: translate(-50%, -50%) scale(1.2);
        }

        .img-container input[type="file"] {
            display: none;
        }
        .readonly-input {
            color: #666; /* Color de texto un poco oscurecido */
            cursor: not-allowed; /* Cursor no permitido */
            background-image: url("img/colegio.jpg"); /* Ruta de la imagen de fondo */
        }
        
