<h1 align="center"> Lista Docentes</h1>

<table class="table" width="89%" border="0" align="center">
  <thead class="table-dark">
  <tr>
    <td>iddocente</td><td>Nombre del docente</td><td>Apellido del docente</td><td>Correo</td><td>Contraseña</td><td>Curso_pr</td><td>Materia</td><td>Borrar</td><td>Seleccionar</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let art of articulos" align="center" >
  <td width="10%"> {{art.idDocente}} </td>
            <td width="12%"> {{art.Nombres}} </td>
            <td width="12%"> {{art.Apellidos}} </td>
            <td width="12%"> {{art.Email}} </td> <!-- Add columns for other properties -->
            <td width="12%"> {{art.Pasword}} </td>
            <td width="12%"> {{art.Curso}} </td>
            <td width="12%"> {{art.Materia}} </td>

            <td><button class="btn btn-danger" (click)="baja(art.idDocente)">Borrar?</button></td>
            <td><button class="btn btn-primary" (click)="seleccionar(art.idDocente)">Seleccionar</button></td>
            <div class="d-grid gap-2 d-md-block">

</div>
  </tr>
</tbody>
</table>

  <div>
    <p>
      iddocente:<input type="number" [(ngModel)]="art.idDocente" />
    </p>
    <p>
      Nombres:<input type="text" [(ngModel)]="art.Nombres" />
    </p>
    <p>
      Apellidos:<input type="text" [(ngModel)]="art.Apellidos" />
    </p>
    <p>
      Email:<input type="text" [(ngModel)]="art.Email" />
    </p>
    <p>
      Contrasena:<input type="text" [(ngModel)]="art.Pasword" />
    </p>
    <p>
      Curso_pr:<input type="number" [(ngModel)]="art.Curso" />
    </p>
    <p>
      Materia:<input type="number" [(ngModel)]="art.Materia" />
    </p>

    <p><button  class="btn btn-success" (click)="alta()">Agregar</button>
    <button class="btn btn-warning" (click)="modificacion()">Modificar</button></p>
  </div>

