 <h1 align="center"> Lista Docentes</h1>
<table class="table" width="89%" border="0" align="center">
  <thead class="table-dark">
  <tr>
    <th scope="col">iddocente</th><th scope="col">Nombre del docente</th><th scope="col">Correo</th><th scope="col">Contraseña</th><th scope="col">Curso_pr</th><th scope="col">Materia</th><th scope="col">Borrar</th><th scope="col">Seleccionar</th>
  </tr>
</thead>
  <tr *ngFor="let art of articulos" align="center" bgcolor="46e9f7">
  <td width="10%"> {{art.iddocente}} </td>
            <td width="12%"> {{art.Nombre_apellido}} </td>
            <td width="12%"> {{art.Correo}} </td> <!-- Add columns for other properties -->
            <td width="12%"> {{art.Contrasena}} </td>
            <td width="12%"> {{art.Curso_pr}} </td>
            <td width="12%"> {{art.Materia}} </td>

            <td><button class="btn btn-prymary" (click)="baja(art.iddocente)">Borrar?</button></td>
            <td><button class="btn btn-prymary" (click)="seleccionar(art.iddocente)">Seleccionar</button></td>
            <div class="d-grid gap-2 d-md-block">

</div>
  </tr>

  <div>
    <p>
      iddocente:<input type="number" [(ngModel)]="art.iddocente" />
    </p>
    <p>
      Nombre_apellido:<input type="text" [(ngModel)]="art.Nombre_apellido" />
    </p>
    <p>
      Correo:<input type="text" [(ngModel)]="art.Correo" />
    </p>
    <p>
      Contrasena:<input type="text" [(ngModel)]="art.Contrasena" />
    </p>
    <p>
      Curso_pr:<input type="number" [(ngModel)]="art.Curso_pr" />
    </p>
    <p>
      Materia:<input type="number" [(ngModel)]="art.Materia" />
    </p>

    <p><button (click)="alta()">Agregar</button>
    <button (click)="modificacion()">Modificar</button></p>
  </div>

 
 