<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  
  <div class="container"id="container"></div>
      <div class="form-container sing-up">
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          
          <a href="#"class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#"class="icon"><i class="fa-brands fa-instagram-f"></i></a>
        </div>
        <span>ingrese su gmail para registrarse</span>
        <input type="Email" placeholder="Email">
        <input type="password"placeholder="Password">
        <button>sing up</button>
      </form> 
    </div>
      
    <form>
    <div class="form-container sing-in">
    <h1>sing in</h1>
    <div class="social-icons">
      <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          
          <a href="#"class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#"class="icon"><i class="fa-brands fa-instagram-f"></i></a>
    </div>
    <span>or use your email Password</span>
    <input type="Email"placeholder="Email">
    <input type="password"placeholder="password">

    <a href="#">Forget your password</a>
    <button>sing in</button>
  </div>
  </form>
  
    <div class="toggle-container">
          <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter Your Person details</p>
          <button class="hidden"id="login">Sing In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Welcome Friends</h1>
            <p>Enter your person details to use </p>
            <button class="hidden"id="register">Sing Up</button>
          </div>
          </div>
          </div>
          <script src="script.js"></script>
</body>
</html>