<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="container" id="container">
  <div class="form-container sing-up">
      <form>
          <h1>Create Account</h1>
          <div class="social-icons">
              <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-instagram-f"></i></a>
          </div>
          <span>Ingrese su gmail para registrarse</span>
          <input type="Email" placeholder="Email">
          <input type="password" placeholder="Password">
          <button>Sign up</button>
      </form>
  </div>

  <form>
      <div class="form-container sing-in">
          <h1>Sign in</h1>
          <div class="social-icons">
              <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
              <a href="#" class="icon"><i class="fa-brands fa-instagram-f"></i></a>
          </div>
          <span>Or use your email and password</span>
          <input type="Email" placeholder="Email">
          <input type="password" placeholder="Password">

          <a href="#">Forgot your password</a>
          <button>Sign in</button>
      </div>
  </form>

  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>Welcome Back!</h1>
              <p>Enter Your Personal details</p>
              <button class="hidden" id="login">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
              <h1>Welcome Friends</h1>
              <p>Enter your personal details to use</p>
              <button class="hidden" id="register">Sign Up</button>
          </div>
      </div>
      <script src="Proyecto\src\app\Login\script.js"></script>
  </div>
</div>
