<div>
    <h1>CRUD CURSO</h1>
    <table border="1" *ngIf="hayRegistros(); else sincursos">
      <tr>
        <td>IdCurso</td><td>Nom_Curso</td><td>Estado</td><td>Borrar</td><td>Seleccionar</td>
      </tr>
      <tr *ngFor="let curso of cursos">
        <td>{{curso.idcurso}}</td>
        <td>{{curso.nom_curso}}</td>
        <td>{{curso.estado}}</td>
        <td><button (click)="baja(curso.idcurso)">Borrar?</button></td>
        <td><button (click)="seleccionar(curso.idcurso)">Seleccionar</button></td>
      </tr>
    </table>
    <ng-template #sincursos><p>No hay cursos.</p></ng-template>
    <div>
      <p>
        IdCurso: <input type="number" [(ngModel)]="curso.idcurso" />
      </p>
      <p>
        Nom_Curso: <input type="text" [(ngModel)]="curso.nom_curso" />
      </p>
      <p>
        Estado:
        <select [(ngModel)]="curso.estado">
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </p>
      <p>
        <button (click)="alta()">Agregar</button>
        <button (click)="modificacion()">Modificar</button>
      </p>
    </div>
  </div>
  