
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d0f0c0; /* Pastel green */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Estilo para las etiquetas */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Color de texto oscuro */
  }

  /* Estilo para los campos de entrada y selección */
  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  /* Estilo para el botón */
  button {
    padding: 10px 20px;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  a {
    padding: 10px 20px;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }

  /* Estilo para el botón cuando se pasa el mouse por encima */
  a:hover {
    background-color: #2c6611; /* Darker green */
  }
  button:hover {
    background-color: #2c6611; /* Darker green */
  }

