<div>
  <h1>Administración de Materias</h1>
    <table class="table" border="1" *ngIf="hayRegistros(); else sinarticulos">
      <thead class="table-dark">
      <tr>
        <th scope="col">idmateria</th><th scope="col">Nombre de la materia</th><th scope="col">Borrar</th><th scope="col">Seleccionar</th>
      </tr>
    </thead>
      <tr *ngFor="let art of articulos">
        <td>{{art.idmaterias}}</td>
        <td>{{art.nom_materia}}</td>

        <td><button class="btn btn-danger" (click)="baja(art.idmaterias)">Borrar?</button></td>
        <td><button class="btn btn-primary" (click)="seleccionar(art.idmaterias)">Seleccionar</button></td>
      </tr>
    </table>
    <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
    <div>
      <p>
        precio:<input type="number" [(ngModel)]="art.idmaterias" />
      </p>
      <p>
        descripcion:<input type="text" [(ngModel)]="art.nom_materia" />
      </p>

      <p><button class="btn btn-success" (click)="alta()">Agregar</button>
      <button class="btn btn-warning" (click)="modificacion()">Modificar</button></p>
      
    </div>
</div>
