<!-- src/app/index/index.component.html -->

<div id="loader" class="hidden">
    <img src="img/mundor.png" alt="Loading...">
</div>
<header>
    <a routerLink="/" class="logo">
        <img class="logo" style="border-radius: 55%; width: 120px;" src="img/image__1_-removebg-preview (1).png" alt="Logo">
    </a>
    <nav class="head_titu">
        <a routerLink="/Login">INICIAR SESIÓN</a>
    </nav>
    <h4><button id="toggle-nav" class="toggle-nav-btn">☰</button></h4>
    <section class="textos-header">
        <h1 style='--content: "DIGI"; --star-color: #32d9e5; --end-color: #1440f1; --delay: 0s;'>DIGI</h1>
        <h2 style='--content: "DIGIWORM"; --star-color: #32e53ed2; --end-color: #03540bd0; --delay: 0s; '>DIGIWORM</h2>
    </section>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</header>
<main class="body">
    <!-- Rest of your HTML content -->
</main>
<footer id="footer">
    <!-- Your footer content -->
</footer>
<script>
    // Your JavaScript code
</script>
<!-- src/app/index/index.component.html -->

<div id="loader" class="hidden">
    <img src="img/mundor.png" alt="Loading...">
</div>
<header>
    <a routerLink="/" class="logo">
        <img class="logo" style="border-radius: 55%; width: 120px;" src="img/image__1_-removebg-preview (1).png" alt="Logo">
    </a>
    <nav class="head_titu">
        <a routerLink="/">INICIAR SESIÓN</a>
    </nav>
    <h4><button id="toggle-nav" class="toggle-nav-btn">☰</button></h4>
    <section class="textos-header">
        <h1 style='--content: "DIGI"; --star-color: #32d9e5; --end-color: #1440f1; --delay: 0s;'>DIGI</h1>
        <h2 style='--content: "DIGIWORM"; --star-color: #32e53ed2; --end-color: #03540bd0; --delay: 0s; '>DIGIWORM</h2>
    </section>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
</header>
<main class="body">
    <!-- Rest of your HTML content -->
</main>
<footer id="footer">
    <!-- Your footer content -->
</footer>
<script>
    // Your JavaScript code
</script>
