/* Resetear márgenes y paddings para asegurar la alineación */
body, html {
    margin: 0;
    padding: 0;
}

/* Asegurar que el contenedor ocupe toda la pantalla y esté centrado verticalmente */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que ocupe toda la altura visible del viewport */
}

/* Estilos para los apartados */
.apartado {
    width: 80%; /* Ancho del apartado */
    padding: 20px; /* Espacio interno del apartado */
    margin: 20px 0; /* Espacio externo entre apartados */
    background-color: #ec5656;
    border: 1px solid #ff1818;
    border-radius: 5px;
}