/* Agrega estilos generales al formulario */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Agrega estilos específicos al formulario de registro */
.form-container.sing-up {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Agrega estilos a los íconos sociales */
.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  margin-right: 10px;
}

/* Agrega estilos a los íconos de font-awesome */
.fa-solid,
.fa-brands,
.fas {
  margin-right: 10px;
}

/* Agrega estilos a los campos de entrada y etiquetas */
.form-control {
  margin-bottom: 10px;
  width: 100%;
}

.input-radio {
  margin-bottom: 10px;
}

/* Agrega estilos al botón de envío */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

/* Agrega estilos a la animación fadeInOut */
@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Aplica la animación al formulario de registro */
.form-container.sing-up {
  animation: fadeInOut 0.5s ease-in-out;
}
