<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div>
    <h1>Administración de cursos</h1>

    <div>
      <table border="1" *ngIf="hayRegistros(); else sincursos">
        <tr>
          <td>ID Curso</td><td>Nombre del Curso</td><td>Estado</td><td>Borrar</td><td>Editar</td>
        </tr>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.idcurso}}</td>
          <td>{{curso.nom_curso}}</td>
          <td>{{curso.estado}}</td>
          <td><button (click)="baja(curso.idcurso)">Borrar?</button></td>
          <td><button (click)="editar(curso.idcurso)">Editar</button></td>        
        </tr>
      </table>
    </div>

    <ng-template #sincursos><p>No hay cursos.</p></ng-template>

    <div>
      <p>
        ID Curso: <input type="number" [(ngModel)]="curso.idcurso" />
      </p>
      <p>
        Nombre del Curso: <input type="text" [(ngModel)]="curso.nom_curso" />
      </p>
      <p>
        Estado: <input type="text" [(ngModel)]="curso.estado" />
      </p>            
      <p><button (click)="alta()">Agregar</button>
      <button (click)="modificacion()">Modificar</button></p>
    </div>  
  </div>
</div>
