body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #85eaf1;
}

header {
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    color: white;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 95px; /* Cambia el ancho según sea necesario */
    height: 95px; /* Cambia la altura según sea necesario */
    border-radius: 50%; /* Hace el logo redondo */
    margin-right: 10px;
}

.search-bar {
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center;
}

.search-bar form {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding: 5px;
    margin-right: 10px;
}

.search-container i {
    margin-left: 5px; /* Cambié margin-right a margin-left para mover la lupa al otro lado */
    color: #333;
    cursor: pointer;
    background-color: white; /* Fondo blanco para la lupa */
    padding: 5px; /* Ajusta el padding según tu preferencia */
    border-radius: 8px; /* Forma circular para el fondo de la lupa */
}

.search-bar input[type="text"] {
    width: 400px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.principal-link {
    position: absolute;
    right: 10px;
    top: 10px;
}

.content {
    /* Estilos para el contenido */
}

footer {
    /* Estilos para el pie de página */
}
